@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-img {
  background-image:
    linear-gradient(#00000091, #00000091), url(/assects/images/hero_bg_img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* navbar here */
header {
  box-shadow: 0px 8px 35px 0px #0000000d;
}

.nav-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  background-color: #2c49fe;
  color: #ffffff;
  padding: 11px 28px;
  border-radius: 23px;
}
.nav-btn:hover {
  background-color: #fff;
  color: #1e71ff;
  transition: all 0.45s;
}

.navbar-nav {
  gap: 64px;
  margin-right: 40px;
}
.nav-link {
  padding: 0 !important;
}

.nav-link {
  color: #ffffffff;
}

@media (min-width: 576px) {
  .logo {
    width: 316px;
  }
}

@media (min-width: 1900px) {
  header {
    padding: 17px 300px !important;
  }
  main {
    padding: 0 300px;
  }

  footer {
    /* margin-top: 104px; */
    padding-top: 81px !important;
    padding-bottom: 25px;
  }
  .footer .left p {
    margin-bottom: 0 !important;
  }
  .ft .right {
    gap: 74.8px !important;
  }
  .copyright {
    margin-top: 95px;
    margin-bottom: 0px;
  }
}

@media (max-width: 1899px) {
  header {
    /* padding: 10px 10vw !important; */
    max-width: 1324px;
    width: 100%;
    padding: 0 12px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }
}

/* hero section below */

.top-of-hero {
  max-width: 1044px;
  width: 100px;
}

.hero-heading h1 {
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0%;
  margin-bottom: 18px;
}

.hero .hero-btns button {
  background-color: #2c49fe;
  color: white;
  border-radius: 28px;
  padding: 14px 28px;
  border: none;
  max-width: 172px;
  width: 100%;
}
.hero .hero-btns button:hover {
  background-color: #6979e0;
  color: white;
  border-radius: 28px;
  /* padding: 11px 28px; */
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}

.hero .container p {
  font-size: 16px;
  max-width: 765px;
  line-height: 100%;
  margin-bottom: 33px;
}

.hero-btns .btn-after {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  min-width: 113px;
}

.hero-info {
  background-color: rgba(44, 73, 254, 0.74);
}

.hero-info img {
  margin-right: 7px;
}

.hero-info-btn {
  background-color: #ffffffff;
  color: rgba(44, 73, 254, 1);
  border: none;
}

.hero-info-btn:hover {
  background-color: #8f9bec;
  color: #ffffffff;
  cursor: pointer;
}
.vline {
  height: 60px;
  width: 0;
  border: 1.5px solid rgba(255, 255, 255, 1);
  align-self: center;
  margin-left: 63px;
}

.main {
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.location .inside {
  font-family: "Yantramanav" sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 100%;
  letter-spacing: 0%;
}

/* layer 2  */

.layer2 > .l2-container .col-md-6 > .container {
  max-width: 633px;
  width: 100%;
}

.layer2-heading {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  color: #000000;
  max-width: 587px;
  width: 100%;
}

.layer2-p {
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000b2;
}

.rounded-circle {
  border: 2px solid #2c49fe;
  width: 79px;
  height: 79px;
  background-color: white;
  bottom: 79%;
}
.card {
  height: 198px;
  border-radius: 5px;
}
.card-h {
  font-weight: 500;
  font-size: 25px;
  line-height: 152%;
  letter-spacing: 0%;
  margin-top: 45px;
  margin-bottom: 2px;
}

.card-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 220px;
  margin-bottom: 17px;
}

.l2-cards {
  max-width: 550px;
  width: 100%;
}

.l2-cards .card {
  color: #2c49fe;
  max-width: 260px;
  width: 100%;
  border: 2px solid #2c49fe;
}
.l2-cards .card:hover {
  background-color: #2c49fe;
  max-width: 260px;
  width: 100%;
  color: white;
}

/* layer 3 */

.layer3 {
  background-image:
    linear-gradient(#2c49fecc, #2c49fecc), url(/assects/images/layer3_img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffffff;
}

.top-left-h {
  font-weight: 700;
  line-height: 137%;
  letter-spacing: 0%;
  color: #000000;
}

.top-left-p {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

.top-left-a {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.l3-card-h {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 5px;
  color: #000000;
}
.l3-card-p {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  color: #000000b2;
}

.l3-cards {
  gap: 31px;
}

.l3-card {
  max-width: 339px;
  width: 100%;
}
.l3-card:hover {
  box-shadow: 2px 9px 32px 0px #0000000f;
}

.l3-flex > .number {
  font-weight: 700;
  font-size: 35px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 4px;
  margin-top: 2px;
}

.l3-flex > .l3-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

/* footer css */

footer {
  background-color: #000000;
  color: white;
}

.ft {
  max-width: 1300px;
  width: 100%;
}
footer .left {
  max-width: 346.18px;
  width: 100%;
}

footer .left .logo {
  margin-bottom: 36px;
}

footer .left .svgs {
  margin-top: 24px;
}
footer .left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.gallery div img {
  width: 90.05px;
}
.gallery .gl_more {
  width: 90.05px;
  height: 62px;
  background-color: #18205c;
  color: #ffffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 13px 23px;
}
.gly-img {
  max-width: 306.7px;
  width: 100%;
  margin-top: 10px;
}

nav {
  padding-top: 23px;
  padding-left: 10px;
  padding-right: 15px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* layer 4 */

.layer4 {
  padding: 50px;
}

.layer4 .top {
  margin: 0px auto;
  max-width: 1319px;
  width: 100%;
}

.top .left {
  max-width: 543px;
  width: 100%;
}

.date {
  color: #000000b2;
  margin-top: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.l3-card {
  padding: 10px 11px 9px 13px !important;
}
.l3-card img {
  max-width: 314px;
  width: 100%;
  height: auto;
}

.btm .right {
  max-width: 576px;
  width: 100%;
}

.af-h {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 9px;
  margin-bottom: 5px;
  color: #000000;
}

.af-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #000000b2;
  margin-bottom: 15px;
}

form h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 14px;
}

.form-btn {
  max-width: 574px;
  width: 100%;
  margin-top: 37px;
  background-color: #2c49fe;
  color: #ffffffff;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 11px;
  padding-bottom: 11px;
}
.form-btn:hover {
  transition: 400ms;
  opacity: 0.55;
}
form input,
textarea {
  border: 1px solid #00000066;
  padding-top: 10px;
  padding-left: 12px;
  padding: 8px;
  height: 42px;
  border-radius: 5px;
  margin-top: 16px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000b2;
}

textarea {
  max-width: 574px;
  width: 100%;
  height: 124px;
}

/* media quaries */

/* small devices */
@media (min-width: 576px) {
  nav {
    padding-left: 10px;
    padding-right: 15px;
  }
  .hero-info {
    border-radius: 40px !important;
  }
}

/* Large devices */
@media (min-width: 992px) {
  /* hero below */
  .hero-info {
    padding: 19px 23px;
  }
  .hero-info-btn {
    padding: 20px 40px;
    border: none;
    border-radius: 150px;
  }

  .layer2 {
    flex-direction: row;
  }

  .hero-heading h1 {
    font-size: 46px;
    width: 642px;
  }

  .top_of_hero {
    max-width: 893px !important;
  }
  .hero-info {
    margin: 0;
  }
}

@media (max-width: 1370px) {
  .l2-container {
    flex-direction: column;
  }
  .navbar-nav {
    gap: 30px;
    margin-right: 40px;
  }
  .logo {
    width: 242px;
  }
}

/* Extra large */
@media (min-width: 1200px) {
  /* layer2 here */

  .layer2-heading {
    font-size: 48px;
  }

  .hero-info {
    max-width: 962px;
    width: 100%;
    border-radius: 150px !important;
    height: 108px;
  }
  .hero-info-btn {
    margin: 0 !important;
  }
}

/* very very large display */

@media (max-width: 10000px) {
  header {
    padding-top: 17px;
    padding-left: 300px;
    padding-right: 300px;
  }

  .hero-heading h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 144%;
    letter-spacing: 0%;
    max-width: 1044px;
    width: 100%;
  }

  .hero-heading h1 span {
    justify-content: flex-end;
  }

  .navbar {
    display: flex !important;
    justify-content: space-between !important;
    max-width: 1920px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
  }
  /* hero css */
  .hero .container p {
    font-family: "Yantramanav", sans-serif;
    font-size: 20px;
    max-width: 765px;
    line-height: 130%;
    margin-bottom: 33px;
  }

  .hero-btns {
    margin-bottom: 145px;
    display: flex;
    align-items: center;
  }

  .lm {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-left: 23px;
  }

  .hero {
    padding: 173px 0px 104px 0px;
    padding-bottom: 104px !important;
  }

  .hero-info-btn {
    margin-left: 1.5rem !important;
  }

  /* layer 2  */

  .layer2 {
    padding: 137px 20px 73px 20px;
  }
  .l2-line {
    margin-bottom: 21px;
  }

  .layer2-heading {
    margin-bottom: 6px;
  }
  .layer2-p {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #000000b2;
    max-width: 633px;
    width: 100%;
    margin-bottom: 9px !important;
  }

  .l2-cards .card {
    margin-top: 37px !important;
  }

  .l2-container {
    max-width: 1362;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  /* layer 3 after 1900*/

  .layer3 {
    padding: 50px 10px 46px 10px;
    padding-top: 50px !important;
  }
  .layer3 > .container-fluid {
    max-width: 920px;
    width: 100%;
  }

  .layer3-h {
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .card3 {
    margin-left: 135px;
  }
  .card1 {
    margin-right: 30px;
  }

  .layer3-p {
    margin-bottom: 78px;
  }
  /* layer 4 after 1900 */

  .layer4 {
    padding: 122px 300px 90px 301px;
  }
  .layer4 .top {
    justify-content: center;
  }
  .layer4 .top > .left {
    margin-top: 31px;
  }
  .layer4 .btm {
    margin-top: 163px;
  }
}
@media (max-width: 1900px) {
  .navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .hero-btns {
    margin-bottom: 90px;
  }
  .layer2 {
    padding: 40px 30px;
  }
  .layer3 {
    padding: 40px 10px;
  }
  .layer4 {
    padding: 90px 40px 90px 40px;
  }
  .hero {
    padding: 70px 10px;
    padding-bottom: 104px !important;
  }
  .hero > .container {
    max-width: 1324px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .copyright {
    margin: 50px auto 0px auto !important;
    padding-bottom: 40px;
  }
  .layer4 .btm .left {
    margin-right: 0px !important;
    margin-top: 50px !important;
  }
}

@media (max-width: 1380px) {
  .layer4 .top {
    justify-content: start;
    /* margin: 10px 10%; */
  }
  .top .left {
    max-width: 800px;
    width: 100%;
  }
  .ft {
    padding-left: 40px;
  }
  .hero > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1225px) {
  .layer2 {
    flex-direction: column;
    align-items: center;
  }
  .l2-cards {
    justify-content: center;
  }
  .card3 {
    margin-left: 0 !important;
    margin-right: 8px;
  }
  .card1 {
    margin-right: 8px;
  }
  .card2 {
    margin-right: 8px;
  }
}

@media (max-width: 1200px) {
  .card {
    margin-left: 0 !important;
  }
  .hero-heading h1 {
    font-size: 46px;
    width: 642px;
  }
  .ft {
    flex-direction: column !important;
  }
}

@media (max-width: 995px) {
  .hero-info {
    height: 264px;
  }
  .navbar-nav {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

@media (max-width: 780px) {
  .ft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 250px;
  }
  .hero {
    padding: 40px 15px;
  }
  .hero-heading h1 {
    font-size: 31px;
    max-width: 448px;
    width: 100%;
    margin-top: 40px;
  }

  .hero .container p {
    font-size: 17px;
    max-width: 765px;
    line-height: 130%;
    margin-bottom: 33px;
    margin: 6px 0 40px 0;
  }

  .hero-info {
    height: 264px;
    padding: 20px;
  }

  .layer3-h {
    font-size: 30px;
  }
  .l2-cards {
    max-width: 643px;
    width: 100%;
  }
}

@media (max-width: 545px) {
  .hero-info {
    flex-direction: column;
    height: 351px;
    width: 256px;
    border-radius: 31px !important;
    margin: 0;
  }
  .hero-info-btn {
    margin-right: 0px !important;
    height: 5px !important;
    font-size: 19px !important;
    padding-bottom: 39px !important;
    border-radius: 31px !important;
  }

  .l3-cards {
    display: flex;
    flex-direction: column;
  }

  .layer3 .container-fluid .container {
    justify-content: center !important;
  }

  form .input-inside {
    flex-direction: column;
  }

  .w-50 {
    /* width: 100% !important; */
    margin-top: 20px !important;
  }
  .w-100 {
    width: 100% !important;
    margin-top: 20px;
  }
  .logo {
    width: 175px;
  }
  .vline {
    display: none;
  }
  .w-50 {
    width: 100% !important;
  }
  .gap-3 {
    gap: 0 !important;
  }
  .layer4 .btm {
    margin-top: 16px;
  }
}

footer {
  background-color: #000000;
  color: white;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.ft {
  max-width: 1300px;
  width: 100%;
}
footer .left {
  max-width: 346.18px;
  width: 100%;
}

footer .left .logo {
  margin-bottom: 36px;
}

.svgs {
  display: flex;
  margin-top: 24px;
  gap: 15.4px;
}
footer .left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 0;
}

footer .right {
  margin-top: 45px;
}

footer .gallery div img {
  width: 90.05px;
}

.gl_more {
  width: 90.05px;
  height: 62px;
  background-color: #18205c;
  color: #ffffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 13px 23px;
}
.gly-img {
  max-width: 308.7px;
  width: 100%;
  gap: 0;
  margin-top: 10px;
  gap: 13px 18px;
}

.gly-img img {
  max-width: 90px;
  height: 62px;
}

nav {
  padding-top: 23px;
  padding-left: 10px;
  padding-right: 15px;
}

.services .main {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}

.services .inside {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  margin-top: 12px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.inside a {
  display: block;
}
.inside a:hover {
  text-decoration: underline;
  color: #1e71ff !important;
  transition: 0.25s;
}

.svgs a img {
  height: 22.41px;
  height: 22.41px;
}
.svgs a img:hover {
  transform: translateY(-5px);
  transition: 0.45s;
}
.main a {
  cursor: default;
}

/* mistakes */

.nav-link:hover {
  color: blue;
  text-decoration: underline;
  transition: 0.45s;
}

.layer2 {
  max-width: 1365px;
  width: 100%;
  margin: 0 auto;
}
